#header {
    height: 100%;
}

main {
    min-height: 85vh;
    padding: 15px;
}

.header-title-with-model {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#model-name::before {
    content: '-';
    margin-right: 15px;
}

.detail-body {
    margin-top: 30px;
    display: grid;
    grid-template-rows: auto auto auto auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
        "img price"
        "img price-without-tax"
        "img servis-info"
        "img waiting"
        "img note";
}

.detail-body img {
    grid-area: img;
    height: 50vh;
}

#detail-price {
    grid-area: price;
}

#detail-price::after {
    content: '€';
    margin-left: 5px;
}

.detail-price-no-tax {
    grid-area: price-without-tax;
    font-size: medium;
    color: var(--text-not-important);
}

#detail-price-no-tax-num::after {
    content: '€';
    margin-left: 2px;
}

#detail-servis-info {
    grid-area: servis-info;
    color: var(--text-not-important);
}

#detail-waiting {
    grid-area: waiting;
    color: var(--valid-color);
    font-size: larger;
}

#detail-note {
    grid-area: note;
}

#detail-note p {
    margin: 0;
}

#detailed-description-text {
    padding-left: 15px;
}

#detailed-description-text:empty::before {
    content: 'Tento produkt nemá podrobný popis.';
    color: var(--text-not-important);
    font-style: italic;
    font-size: large;
}

#detailed-description-text figure {
    margin: 0;
}

#detailed-description-text figcaption {
    font-weight: bold;
    font-size: larger;
    color: var(--text-list-title-color);
}

ul.list-detail {
    margin: 0;
    padding-left: 0;
}

.list-detail {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-detail li::before {
    content: '>';
    color: var(--primary-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

#detailed-description-text img {
    height: 40vh;
    border: 1px solid black;
    border-radius: 15px;
}

@media only screen and (max-width: 768px) {
    .detail-body {
        grid-template-areas: 
        "img price"
        "img price-without-tax"
        "img servis-info"
        "img waiting"
        "note note";
    }
}

@media only screen and (max-width: 550px) {

    h2 {
        text-align: center;
    }

    .header-title-with-model {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #model-name::before {
        content: '';
        margin-right: 0;
    }

    #model-name {
        color: var(--text-not-important);
        font-size: large;
    }
}