#header {
    height: 100%;
}

main {
    min-height: 85vh;
    margin-top: 30px;
}

bold {
    font-weight: bolder;
}

.header-title-with-model {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#model-name::before {
    content: '-';
    margin-right: 15px;
}

.detail-body-bg {
    background-color: var(--secondary-color);
    padding: 50px;
    /* margin: 30px 0; */
    transform: skew(0deg, -2deg);
}

.detail-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: skew(0deg, 2deg);
}

#detail-img {
    height: 50vh;
    margin-right: 50px;
}

#detail-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 3px solid black;
    gap: 15px;
    padding: 15px;
}

#detail-info > p, h3 {
    text-align: center;
}

#detail-info h3 {
    max-width: 70%;
    margin: 0;
}

#detail-price-time-container {
    width: fit-content;
    padding: 0 70px;
    background-color: var(--primary-color);
    border-radius: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin: 20px 0;
}

.pt {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pt>img {
    width: 64px;
    height: 64px;
    align-self: center;
}

.pt>p {
    font-size: 1.2rem;
    color: whitesmoke;
    text-align: center;
}

#detail-price.price-num::after {
    content: '€';
    margin-left: 5px;
}

.no-price {
    display: none;
}

#detail-servis-info {
    font-size: small;
    font-style: italic;
    color: var(--text-not-important);
}

.availability-texts {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: larger;
    font-weight: 300;
}

#detail-waiting {
    font-weight: 400;
}

#detail-note p {
    margin: 0;
}

.detailed-description {
    margin-top: 150px;
    margin-bottom: 150px;
}

#detailed-description-text {
    padding-left: 15px;
}

#detailed-description-text:empty::before {
    content: 'Tento produkt nemá podrobný popis.';
    color: var(--text-not-important);
    font-style: italic;
    font-size: large;
}

#detailed-description-text figure {
    margin: 0;
}

#detailed-description-text figcaption {
    font-weight: bold;
    font-size: large;
    color: var(--text-list-title-color);
    margin-bottom: 15px;
}

ul.list-detail {
    margin: 0;
    padding-left: 0;
}

.list-detail {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-detail li::before {
    margin-left: 15px;
    content: '>';
    color: var(--primary-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

#detailed-description-text img {
    height: 40vh;
    border: 1px solid black;
    border-radius: 15px;
}

@media only screen and (max-width: 768px) {

    h2 {
        text-align: center;
    }

    .header-title-with-model {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #model-name::before {
        content: '';
        margin-right: 0;
    }

    #model-name {
        color: var(--text-not-important);
        font-size: large;
    }

    #detail-price-time-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 550px) {
    #detail-img {
        display: none;
    }

    #detail-info {
        border: none;
    }

    #detail-price-time-container {
        flex-direction: row;
    }
}
