main {
    min-height: 50vh;
    text-align: justify;
}

#content {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: white;
    border-radius: 35px;
    box-shadow: 7px 5px 7px rgb(0, 0, 0, 20%);
}

#device-img {
    padding-left: 50px;
    width: 256px;
    height: 256px;
}

#device-text {
    border-radius: 0 35px 35px 0;
    margin: 0;
    padding: 25px;
    color: white;
    background-color: var(--primary-color);
}