#header {
    height: 100%;
}

main {
    margin-top: 25px;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    max-width: var(--max-width-containers-with-items);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: 50px 15px;
}

#container:empty::before {
    content: 'Tento model nemá zatiaľ vypísanú žiadnu službu.';
    color: var(--text-not-important);
    font-style: italic;
    font-size: large;
    text-align: center;
}

.service-item {
    width: 200px;
    padding: 15px 45px;
    background-color: var(--list-item-background);
    border: 1px black solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-item:hover {
    background-color: var(--list-item-hover-background);
    transition: transform var(--animation-delay) ease-in-out;
    transform: scale(1.05);
    cursor: pointer;
}

.service-item img {
    height: 15rem;
}

.service-item .title {
    text-align: center;
}

.service-item .price {
    font-size: x-large;
    font-weight: bolder;
}

.priceNum::after {
    margin-left: 5px;
    content: '€';
}

#list-container {
    display: none;
    margin: 50px 0;
    padding: 35px;
    border-radius: 15px;
}

table, th {
    width: 100%;
}

th {
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
}

th:nth-child(1) {
    border-radius: 5px 0 0 0;
}

th:nth-child(2) {
    border-radius: 0 5px 0 0;
}

tr a {
    color: var(--primary-color);
    text-decoration: underline;
}

tr:nth-child(even) {
    background-color: var(--secondary-color);
}

tr:nth-child(odd) {
    background-color: var(--secondary-color-light);
}

tr:last-child td:nth-child(1) {
    border-radius: 0 0 0 5px;
}

tr:last-child td:nth-child(2) {
    border-radius: 0 0 5px 0;
}

td {
    padding: 10px;
}

td:nth-child(even) {
    text-align: center;
}

/* td:nth-child(even)::after {
    padding-left: 5px;
    content: '€';
} */

tr:hover {
    cursor: pointer;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {

    #container {
        display: none;
    }

    #list-container {
        display: block;
    }
}