/*
 * File: style.css
 * Authors: Adam Dzurilla
 */

/* #region Font */

@font-face {
    font-family: TT-interfaces;
    src: url('../fonts/ttinterfaces/TTInterfaces-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: TT-interfaces;
    src: url('../fonts/ttinterfaces/TTInterfaces-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: TT-interfaces;
    src: url('../fonts/ttinterfaces/TTInterfaces-DemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: TT-interfaces;
    src: url('../fonts/ttinterfaces/TTInterfaces-DemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: TT-interfaces;
    src: url('../fonts/ttinterfaces/TTInterfaces-ExtraBold.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: TT-interfaces;
    src: url('../fonts/ttinterfaces/TTInterfaces-ExtraBoldItalic.otf') format('opentype');
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: TT-interfaces;
    src: url('../fonts/ttinterfaces/TTInterfaces-ExtraLight.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: TT-interfaces;
    src: url('../fonts/ttinterfaces/TTInterfaces-ExtraLightItalic.otf') format('opentype');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: TT-interfaces;
    src: url('../fonts/ttinterfaces/TTInterfaces-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: TT-interfaces;
    src: url('../fonts/ttinterfaces/TTInterfaces-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: TT-interfaces;
    src: url('../fonts/ttinterfaces/TTInterfaces-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: TT-interfaces;
    src: url('../fonts/ttinterfaces/TTInterfaces-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* #endregion */

:root {
    --background-color: #EBFEFF;
    --primary-color: #3691FF;
    --secondary-color: #C3EDFF;
    --third-color: #8BDBEC;
    --footer-background: var(--secondary-color);
    --list-item-background: white;
    --list-item-hover-background: rgb(242, 242, 242);

    --text-list-title-color: #252525;
    --text-not-important: #5E5E5E;
    --text-placeholder: #5E5E5E;
    --menu-item-background: #8BDBEC;
    --header-subtext-color: #313131;
    --invalid-color: #DF1C1C;
    --valid-color: #469452;
    --medium-valid-color: #ffa500;
    --contact-info-background: #212121;
    --primary-color-dark: #3170bd;
    --secondary-color-dark: rgb(151, 226, 255);
    --secondary-color-light: #daf4ff;

    --white-color: #fff;
    --black-color: #000;

    --max-page-width: 1320px;
    --max-width-containers-with-items: 1200px;

    --animation-delay: 0.5s;
    
    background-color: var(--background-color);
    height: 100%;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Antonio', sans-serif; */
    --font-family: TT-interfaces, 'sans-serif';
    font-family: var(--font-family);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding-top: 35px;
}

h2 {
    font-size: 32px;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
    transition-duration: var(--animation-delay);
}

input {
    font-family: var(--font-family);
}

button {
    font-family: var(--font-family);
}

.hidden {
    display: none;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading span {
    letter-spacing: 0.4rem;
    color: var(--header-subtext-color);
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}

.heading h2 {
    text-align: center;
}

footer>* {
    max-width: var(--max-page-width);
    margin: 0 auto;
}

.bg {
    background-color: var(--background-color);
}

.bg-secondary-color {
    background-color: var(--secondary-color);
}

.bg-third-color {
    background-color: var(--third-color);
}

.primary-color {
    color: var(--primary-color);
}

.valid-color {
    color: var(--valid-color);
}

.invalid-color {
    color: var(--invalid-color);
}

.medium-valid-color {
    color: var(--medium-valid-color);
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.mg-bottom-50 {
    margin-bottom: 50px;
}

.mg-bottom-100 {
    margin-bottom: 100px;
}

.mg-bottom-150 {
    margin-bottom: 150px;
}

/* Smartphones */
@media only screen and (max-width: 768px) {

    /* #region Header section */

    #header-title img {
        width: 60%;
    }

    #header {
        grid-template-areas:
            "menu menu"
            "header_title header_title";
    }

    /* #endregion */

    /* #region Contact */

    #contact iframe {
        width: 80%;
    }

    #contact-info {
        width: 80%;
    }

    /* #endregion */

}

@media only screen and (max-width: 550px) {

    #header-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #header-title h1 {
        width: fit-content;
    }

    #header-title img {
        width: 70%;
    }

    .category-item {
        width: 250px;
        margin: 0 15px;
        display: flex;
        flex-direction: row;
    }
}

/* #region Container */

.container {
    max-width: 1320px;
    margin: 0 auto;
}

/* X-Large container */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .container {
        max-width: 1140px;
    }
}

/* Large container */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}

/* Medium container */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}

/* Small container */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 540px;
    }
}

/* Extra small container */
@media only screen and (max-width: 575px) {
    .container {
        max-width: 100%;
    }
}

/* #endregion */
