/*
 * File: style.css
 * Authors: Adam Dzurilla
 */

:root {
    --background-color: #EBFEFF;
    --primary-color: #3691FF;
    --secondary-color: #C3EDFF;
    --footer-background: #C3EDFF;
    --list-item-background: white;
    --list-item-hover-background: rgb(242, 242, 242);

    --text-placeholder: #5E5E5E;
    --menu-item-background: #8BDBEC;
    --header-subtext-color: #313131;
    --required-color: #DF1C1C;
    --valid-color: #469452;
    --contact-info-background: #212121;
    --button-hover: #3170bd;

    --animation-delay: 0.5s;

    background-color: var(--background-color);
    height: 100%;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h2 {
    font-size: 32px;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
    transition-duration: var(--animation-delay);
}

input {
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Poppins', sans-serif;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading span {
    letter-spacing: 0.4rem;
    color: var(--header-subtext-color);
    text-transform: uppercase;
    font-weight: bolder;
}

.contacts i {
    margin-right: 5px;
}

/* #region Header */

#header {
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "menu menu"
        "side_menu header_title";
}

#header-menu {
    grid-area: menu;
}

#menu-top-info {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

#menu-top-info .contacts {
    font-weight: bold;
    display: flex;
    gap: 15px;
}

#menu-top-info .networks {
    display: flex;
    gap: 10px;
}

#menu-top-info .networks i {
    color: var(--primary-color);
}

#menu-top-info .networks i:hover {
    color: var(--button-hover);
    transition-duration: var(--animation-delay);
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 15px;
}

#menu .logo img {
    width: 200px;
}

#menu ul {
    padding: 0;
    display: flex;
    gap: 30px;
    list-style: none;
}

#search-bar {
    display: flex;
    gap: 15px;
}

#search-bar input {
    width: 200px;
    padding: 10px;
    border: 0;
    border-radius: 3px;
}

#search-bar button {
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: 0;
    border-radius: 3px;
}

#search-bar button:hover {
    background-color: var(--button-hover);
    cursor: pointer;
    transition-duration: var(--animation-delay);
}

#header-title {
    grid-area: header_title;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#header-title h1 {
    font-size: 2.5rem;
    width: 20%;
    text-align: end;
}

#side-menu {
    grid-area: side_menu;
    height: 80%;
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 15px;
}

#service-title-side-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#service-title-side-menu p {
    margin: 0;
}

#categories-side-menu {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#categories-side-menu .side-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-left: 15px;
}

/* #endregion */

/* #region Categories */

#services {
    margin: 250px 0;
}

#services .heading {
    margin-bottom: 50px;
}

#categories {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
}

.category-item {
    background-color: var(--list-item-background);
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 25px;
    border: 1px black solid;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.category-item:hover {
    background-color: var(--list-item-hover-background);
    transition: transform var(--animation-delay) ease-in-out;
    transform: scale(1.05);
    cursor: pointer;
}

/* #endregion */

/* #region Contact */

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 0;
    gap: 50px;
}

#contact iframe {
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
}

#contact-info {
    background-color: var(--contact-info-background);
    color: white;
    padding: 25px;
    border-radius: 10px;
}

#contact-info a {
    color: white;
}

#contact-info a:hover {
    /* color: #a8a8a8; */
    color: var(--primary-color);
}

#contact-info td {
    padding-right: 15px;
}

/* #endregion */

/* #region Footer */

footer {
    background-color: var(--footer-background);
    padding: 50px 50px 10px 50px;
}

footer a {
    color: black;
}

footer .logo {
    justify-self: center;
    margin-bottom: 25px;
}

footer .logo img {
    width: 300px;
}

footer .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
}

footer .about {
    width: 30%;
}

footer .links ul {
    list-style: none;
    padding: 0;
}

footer .links li::before {
    content: '>';
    color: var(--primary-color);
    display: inline-block;
    width: 1em;
    text-align: center;
    margin-right: 0.5em;
}

footer .contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

hr {
    border-color: black;
}

#license {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#license i {
    margin: 0 5px;
}

/* #endregion */
